.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.7s;
}

.active, .accordion:hover {
	border-bottom: 1px solid #888;
  outline: none;
}

.panel {
	display: none;
	font-size: 10px;
  padding: 0 18px;
}

.accordion::before {
    content: "\02795 "; /* Unicode character for "plus" sign (+) */
    font-size: 12px;
}

.active::before {
    content: "\2796 "; /* Unicode character for "minus" sign (-) */
}