.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  outline: none;
}

.panel {
  padding: 0 18px;
  display: none;
}

.accordion::before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}