/* selects div with div above it */
#countdown {
    margin-top: 0em;
    padding-top: 100px;
    max-width: 1100px;
    margin: auto;
    width: 90%;
}
#countdown > div + div {
    margin-top: 4em;
}

#countdown #clock {
    width: 90%;
    margin: 0em auto 1em auto;
}

#countdown .time-label {
    width: 100%;
    color: white;
}

#countdown .time-label span {
    width: 23%;
    display: inline-block;
}


#countdown button {
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    letter-spacing: .1em;
    padding: .7em 1.2em .7em 1.2em;
    border-color: var(--blue);
    border-width: .1em;
}
#countdown button:hover {
    border-color: white;
}
