/* selects div with div above it */
#countdown {
    margin-top: 0em;
    padding-top: 20vw;
}
#countdown > div + div {
    margin-top: 4em;
}

#countdown .middle-element {
    margin-top: 4em;
    margin-bottom: 4em;
}


#countdown .time-label {
    width: 100%;
    color: white;
}

#countdown .time-label span {
    width: 23%;
    display: inline-block;
}
