.accordion {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #444;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active {
  border: none;
}

.active, .accordion:hover {
  outline: none;
}

.panel {
  background-color: #222224;
  color: white;
	display: none;
	font-size: 12px;
  padding: 22px 18px 22px 18px;		
}

.accordion::before {
  content: "+  ";
  font-size: 18px;
  color: #FFFFFF;
}

.active::before {
  content: "-  ";
  color: #fff;
}

.bg-dark {
  background-color: #191919 !important;
}

.faq-title {
  color: #0C2CFB;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.faq-head {
  display: flex;
  margin: 0 auto 50px auto;
}

.fa-commenting-o {
  position: absolute;
  font-weight: 100 !important;
  display: inline-block !important;
  z-index: 0;
}

.fa-commenting-o-1 {
  float: left;
  top: -50px;
}

.fa-commenting-o-2 {
  float: right;
  top: -15px;
  right: 50px;
}

.fa-commenting-o-3 {
  float: right;
  top: -40px;
  right: -30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}