/*
* @Author: Charlie Gallentine
* @Date:   2018-12-16 19:44:31
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-27 13:34:29
*/
#faqs {
  color: black;
  font-family: "Access Regular";
}

#challenges {
  background-color: #EEEEEE !important;
}

#faqs .accordion {
  cursor: pointer;
  border: none;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: #EEEEEE !important;
  color: black !important;
  margin-left: 0;
}
#faqs .panel {
  /*font-size: .9em;*/
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.2s ease-out;
  vertical-align: middle;
  padding: 0;
  margin-left: 3em;
}

#faqs .active + .panel {
  padding:0;
}
#faqs .accordion::before {
  content: "+  ";
  font-size: 16px;
  color: black;
}
#faqs .active::before {
  content: "-  ";
}