#faqs {
    color: white;
    background-color: var(--darker);
}
#faqs .accordion {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #444;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: var(--darker) !important;
  color: white !important;
}
#faqs .panel {
  background-color: var(--lighter);
  font-size: .9em;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.2s ease-out;
  vertical-align: middle;

}

#faqs .accordion::before {
  content: "+  ";
  font-size: 18px;
  color: white;
}

#faqs .active::before {
  content: "-  ";
}


#faqs .title {
  color: var(--emphasis);
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

#faqs .head {
  display: flex;
  margin: 0 auto 50px auto;
}

#faqs i {
  position: absolute;
  font-weight: 100 !important;
  display: inline-block !important;
  z-index: 0;
  color: var(--lighter);
}

#faqs .icon1 {
  float: left;
  top: -50px;
}

#faqs .icon2 {
  float: right;
  top: -15px;
  right: 50px;
}

#faqs .icon3 {
  float: right;
  top: -40px;
  right: -30px;
}

#faqs .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
