/*
* @Author: Charlie Gallentine
* @Date:   2018-12-16 19:44:31
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-16 20:46:43
*/
#faqs {
  color: black;
  font-family: "Access Regular";
}

#faqs .accordion {
  background: url("/images/rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: .9em;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: #EEEEEE !important;
  color: black !important;
  margin-left: 0;
}
#faqs .panel {
  font-size: .9em;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.2s ease-out;
  vertical-align: middle;
  padding: 0em 1em;
  margin-left: 3em;
}
#faqs .active + .panel {
  padding: 1em 1em 0em 1em;
}
#faqs .accordion::before {
  content: "+  ";
  font-size: 1em;
  color: black;
}
#faqs .active::before {
  content: "-  ";
}