/*
* @Author: Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-16 15:00:55
*/

* {
  font-family: 'Access Regular', 'PT Mono', monospace;
}

#navigation {
  background-color: #F7F7F7;
  float: left;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 101;
}

.section-home {
  background-color: white;
  width: 102%;
  background-image: url("/images/mobile_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  z-index: 1000;
  background-color:white;
}


.non-mobile {
  display: none;
}

.content {
  overflow-y:scroll;
  overflow-x:hidden;
  top:55vh;
  /*position:sticky;*/
}

footer {
  background-color: #F7F7F7;
  max-height: 10vh;
}


.fa-cog {
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.fa-extra-pad {
  padding-left: 8px;
  padding-right: 8px;
}

.fa-white {
  color: white;
}

.fa-black {
  color: black;
}

.back {
  z-index: 0;
}

.front {
  z-index: 100;
}

.h1-size {
  font-size: 17px;
}

.p-size-1 {
  font-size: 6px;
}

.p_size_2 {
  font-size: 10px;
}

#faqs {
 font-family: "Access Regular";
 color: black;
 /* padding-bottom: 4em; */
 /* padding-top: 1em; */
 }
 #faqs .accordion {
   cursor: pointer;
   border: none;
   padding: .9em;
   width: 100%;
   text-align: left;
   outline: none;
   transition: 0.4s;
   background-color: white !important;
   color: black !important;
   margin-left: 0;
 }
 #faqs .panel {
   font-size: .9em;
   max-height: 0;
   overflow: hidden;
   text-align: left;
   transition: max-height 0.2s ease-out;
   vertical-align: middle;
   padding: 0em 1em;
   margin-left: 3em;
 }
 #faqs .active + .panel {
   padding: 1em 1em 0em 1em;
 }
 #faqs .accordion::before {
   content: "+  ";
   font-size: 1em;
   color: black;
  }
 #faqs .active::before {
   content: "-  ";
  }

  .section-1 {
    min-height: 100vh;
  }
  .section-2 {
    min-height: 100vh;
  }
  .section-3 {
    min-height: 100vh;
  }
  .section-4 {
    min-height: 100vh;
  }
  .section-5 {
    min-height: 100vh;
  }


@media (min-width: 600px) {
  .section-home {
    background-image: url("/images/mobile_background.svg");
    width: 100%;
  }

  .h1-size {
    font-size: 18px;
  }

  .p-size-1 {
    font-size: 16px;
  }

  .p_size_2 {
    font-size: 16px;
  }

  .non-mobile {
    display: block;
  }

}

@media (min-width: 950px) {
  .section-home {
    background-image: url("/images/mobile_background.svg");
    width: 100%;
  }

  .h1-size {
    font-size: 36px;
  }

  .p-size-1 {
    font-size: 18px;
  }

  .p_size_2 {
    font-size: 24px;
  }
}

