/*
* @Author: Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Ayush Petigara
* @Last Modified time: 2018-11-11
*/

* {
  font-family: 'Access Regular', 'PT Mono', monospace;
}
.logo {
  width:350px;
  height:250px;
}
.link-reg{
  display: inline-block;
}
.reg {
  color:black;
}
.reg:hover{
  text-decoration: none;
  color: black;
}
.underline-red {
  display:block;
	border-bottom:3px solid red;
	width: 100%;
	padding-bottom: 4px;
}
#faqs {
 font-family: "Access Regular";
 color: black;
 /* padding-bottom: 4em; */
 /* padding-top: 1em; */
 }
 #faqs .accordion {
   cursor: pointer;
   border: none;
   padding: .9em;
   width: 100%;
   text-align: left;
   outline: none;
   transition: 0.4s;
   background-color: white !important;
   color: black !important;
   margin-left: 0;
 }
 #faqs .panel {
   font-size: .9em;
   max-height: 0;
   overflow: hidden;
   text-align: left;
   transition: max-height 0.2s ease-out;
   vertical-align: middle;
   padding: 0em 1em;
   margin-left: 3em;
 }
 #faqs .active + .panel {
   padding: 1em 1em 0em 1em;
 }
 #faqs .accordion::before {
   content: "+  ";
   font-size: 1em;
   color: black;
  }
 #faqs .active::before {
   content: "-  ";
  }
@media (max-width:1024px) and (min-width: 667px) {
  .des {
    margin-left: 4.5%;
  }
  .logo {
    width:250px;
    height:200px;
  }
}
@media screen and (max-width: 667px) {
  .des {
    margin-left: 4.2%;
  }
  .logo {
    width:200px;
    height:150px;
  }
}
