/*
* @Author: Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-16 22:23:23
*/

* {
  font-family: 'Access Regular', 'PT Mono', monospace;
}

.white-back {
  background-color: white !important;
}

.non-mobile {
  display: none !important;
}

.mobile {
  display: block !important;
}

.section-home {
  background-color: white;
  background-image: url("/images/mobile_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  overflow: hidden;
  width: 102%;
}

.content {
  overflow-x:hidden;
}

.h1-size {
  font-size: 17px;
}

.p-size-1 {
  font-size: 8px;
}

.p_size_2 {
  font-size: 10px;
}

.full-size {
  min-height: 80vh;
}

.logos{
  margin:10px;
}

td {
  font-size: 0.7rem;
}
th,td {
  padding-left:10px;
}

.tb {
  margin-left: 0%;
}

/* table{
  width: 90%;
} */

@media (min-width: 600px) {
  .section-home {
    background-image: url("/images/desktop_background.svg");
    width: 100%;
    height: 100vh;
  }

  .h1-size {
    font-size: 18px;
  }

  .p-size-1 {
    font-size: 12px;
  }

  .p_size_2 {
    font-size: 12px;
  }

  .non-mobile {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }
  td {
    font-size: 0.87rem;
  }
  th,td {
    padding-left:45px;
  }
  table{
    width: 100%;
  }

}

@media (min-width: 950px) {
/*  .section-home {
    width: 100%;
    height: 100vh;
  }
*/
  .h1-size {
    font-size: 32px;
  }

  .p-size-1 {
    font-size: 14px;
  }

  .p_size_2 {
    font-size: 24px;
  }


  .heading {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 10px;
  }

  th,td {
    padding-left:45px;
  }
  td {
    font-size: 1.0rem;
  }
  table{
    width: 100%;
  }

  .schedule_table {
    margin-left: 3%;
  }

  .schedule_heading {
    margin-left: 8%;
  }

  .u-bottom {
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    line-height: 48px;
  }
}
