/*
* @Author: Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-19 11:30:09
*/

* {
  font-family: 'Access Regular', 'PT Mono', monospace;
  overflow-x: hidden;
}

body {
  max-width: 1300px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:active,
.nav-pills > li > a:focus {
  background-color: #721ED6;
  color: white;
}


#front_art {
  width: 29%;
  position: absolute;
  left: 860px;
  top: 180px;
  overflow: hidden;
  display: none;
}

.white-back {
  background-color: white !important;
}

.non-mobile {
  display: none !important;
}

.non-mid {
  display: block !important;
}

.mobile {
  display: block !important;
}

.section-home {
  background-color: white;
  background-image: url("/images/mobile_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  overflow: hidden;
  width: 102%;
  min-height: 550px;
  z-index: 900 !important;
}

.content {
  overflow-x:hidden;
}

.h1-size {
  font-size: 16px;
}

.p-size-1 {
  font-size: 12px;
}

.p_size_2 {
  font-size: 12px;
}

.full-size {
  min-height: 900px;
  max-height: 1200px;
  min-width: 300px;
  max-width: 1300px;
  /*height: 85vh;*/
  width: 100%;
}

.logos{
  margin:10px;
}

td {
  font-size: 12px;
}

th,td {
  padding-left:10px;
}

.tb {
  margin-left: 0%;
}


@media (min-width: 730px) {
  .section-home {
    background-image: url("/images/desktop_background.svg");
    width: 100%;
    height: 100vh;
  }

  #front_art {
    display: block;
    left: 840px;
  }

  .h1-size {
    font-size: 16px;
  }

  .p-size-1 {
    font-size: 16px;
  }

  .p_size_2 {
    font-size: 16px;
  }

  .non-mobile {
    display: block !important;
  }

  .non-mid {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
  td {
    font-size: 1rem;
  }
  th,td {
    padding-left:45px;
  }
  table{
    width: 100%;
  }

}

@media (min-width: 950px) {
  #front_art {
    left: 860px;
  }

  .non-mid {
    display: block !important;
  }

  .h1-size {
    font-size: 32px;
  }

  .p-size-1 {
    font-size: 16px;
  }

  .p_size_2 {
    font-size: 24px;
  }


  .heading {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 10px;
  }

  th,td {
    padding-left:45px;
  }
  td {
    font-size: 1.0rem;
  }
  table{
    width: 100%;
  }

  .schedule_table {
    margin-left: 3%;
  }

  .schedule_heading {
    margin-left: 8%;
  }

  .u-bottom {
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    line-height: 48px;
  }
}

