/*
* @Author: Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-16 14:11:59
*/

* {
  font-family: 'Access Regular', 'PT Mono', monospace;
}


.section-home {
  background-color:white;
  position: fixed;
  width: 102%;
  background-image: url("/images/mobile_background.svg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  height: 55vh;
  z-index: 1000;
  background-color:white;
}


.section-buffer {
  min-height: 40vh;
}

.content {
  overflow:scroll;
  top:55vh;
  position:sticky;
}


footer {
  background-color: #F7F7F7;
  max-height: 10vh;
}


.fa-cog {
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.fa-extra-pad {
  padding-left: 8px;
  padding-right: 8px;
}

.fa-white {
  color: white;
}

.fa-black {
  color: black;
}

.back {
  z-index: 0;
}

.front {
  z-index: 100;
}

.h1-size {
  font-size: 17px;
}

.p-size-1 {
  font-size: 6px;
}

.p_size_2 {
  font-size: 10px;
}

@media (min-width: 600px) {
  .section-home {
    background-image: url("/images/mobile_background.svg");
    width: 100%;
  }

  .h1-size {
    font-size: 18px;
  }

  .p-size-1 {
    font-size: 16px;
  }

  .p_size_2 {
    font-size: 16px;
  }
}

@media (min-width: 950px) {
  .section-home {
    background-image: url("/images/mobile_background.svg");
    width: 100%;
  }

  .h1-size {
    font-size: 36px;
  }

  .p-size-1 {
    font-size: 18px;
  }

  .p_size_2 {
    font-size: 24px;
  }
}

