/*
* @Author: Charlie Gallentine
* @Date:   2018-12-16 19:44:04
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-12-16 20:40:02
*/
#navigation {
  background-color: #FFFFFF;
  float: left;
  height: 10vh;
  top: 0;
  width: 100%;
  z-index: 101;
}
