nav a, nav i {
    --setcolor: #999;
    color: var(--setcolor) !important;
    border-color: var(--setcolor) !important;
}
nav :hover, nav .active {
    --setcolor: white;
}
nav .register {
    border-style: solid;
    border-width: .05em;
    border-radius: .1em;
    padding: 1em;
}
nav i {
    color: var(--setcolor);
}

nav #navbarResponsive {
    text-align: center;
}
