
#register {
  background-image: url("../resources/images/gridSmall.png");
  background-size: cover;
}

#register .comment {
	color: white;
}

#register .updated {
	background-color: #0C2CFB;
	border: 1px solid #0C2CFB;
	border-radius: 3px;
	color: white;
	margin-top: 2em;
	padding: 5px 20px;
}

#register .updated:hover {
  background-color: black;
  color: white;
}
