body {
    background-color: black;
    font-family: PT Mono;
}

nav {
    border-radius: 0em !important;
}
#text_parent{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
#child{
  width: 50%;
  height: 50%;
}
#child h2{
  color:#e70000;
}


#footer{
  display: flex;
  align-content:center;
  justify-content:space-between;

}
.social{
  margin: 10px;
}
#details{
  color: white;
}
