body {
    background-color: black;
    font-family: PT Mono;
}

nav {
    border-radius: 0em !important;
}

#footer{
  display: flex;
  align-content:center;
  justify-content:space-between;

}

#footer_social{
  display: block;

}
