/*****************************************************************************/
/*                                    font                                   */
/*****************************************************************************/
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto:300,400,500,700');
body {
    background-color: #191919;
    font-family: 'PT Mono', monospace; /*font-family: 'Roboto', sans-serif;*/
    color: white;
}
/* default colors */
:root {
    --darker: #191919;
    --lighter: #222;
    --emphasis: #e00;
    --blue: #002cf5;
}

/*****************************************************************************/
/*                               nav and footer                              */
/*****************************************************************************/
nav, footer {
    box-shadow: 1em 0em 2em black;
}
nav {
    background-color: var(--lighter);
}
footer {
    height: 8em;
    line-height: 8em;
    background-color: var(--darker);
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}
/* fix margin to account for  header and footer */
#top {
    padding-bottom: 70px;
}
/*****************************************************************************/
/*                                  sections                                 */
/*****************************************************************************/
section {
    padding: 8em 0em 8em 0em;
    min-height: 100vh;
}
.full-section {
    min-height: 100vh;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.full-section > .container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.primary, .secondary {
    width: 100%;
    text-align: center;
}
.primary {
    background-color: var(--darker);
}
.secondary {
    background-color: var(--lighter);
}


/*****************************************************************************/
/*                                    misc                                   */
/*****************************************************************************/
a {
    color: white;

}
a:hover {
    text-decoration: none;
    color: var(--blue)
}

.comment {
	color: white;
}

.title {
  margin: 0 auto;
}

.updated {
	background-color: #0C2CFB;
	border: 1px solid #0C2CFB;
	border-radius: .1em;
	color: white;
	margin-top: 2em;
	padding: .2em 1em;
}

.updated:hover {
  background-color: black;
  color: white;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -moz-box-shadow:    inset 0em 0em 2em #000;
    -webkit-box-shadow: inset 0em 0em 2em #000;
    box-shadow:         inset 0em 0em 2em #000;
}
.mysquare {
    width: 100%;
    position: relative;
}
.mysquare:after {
    content: "";
    display: block;
    padding-bottom: 100%;

}
.in-mysquare {
    position: absolute;
    top: 0;
    left: 0;
}


button {
    letter-spacing: .1em;
    border-radius: .1em;
    color: white;
    padding: .8em 1.6em;
    cursor: pointer;
}
button:hover { border-color: white; }
button:focus { outline: 0; }

.blue-button {
    background-color: var(--blue);
    border: .1em solid var(--blue);
}
.grey-button {
    background-color: var(--lighter);
    border: .1em solid var(--lighter);
}
.apply-button {
    background-color: transparent;
    border: .1em solid var(--blue);
    padding: .8em 1.6em;
}
.apply-button:hover { border-color: white; }



h1 {
    font-size: 3.2em;
    padding-bottom: 1em;
}
.sub {
    font-family: inherit;
    margin-top: -1em;
    padding-bottom: 1.5em;
    font-size: 1.4em;
}


h2 {
    margin-bottom: .2em;
}
