/*****************************************************************************/
/*                                    font                                   */
/*****************************************************************************/
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
:root {
    --darkest: #191919;
    --dark: #222;
    --grey: #888;
    --emphasis: #e00;
    --blue: #002cf5;
}
body {
    font-family: 'PT Mono', monospace;
    background-color: var(--darkest); color: white;
    padding-top: 76px;
    text-align: center;
}

h3 {
    1em;
}

/*****************************************************************************/
/*                               navigation bar                              */
/*****************************************************************************/
nav, footer {
    background-color: var(--dark);

    color: var(--grey);
}
footer { padding: 1em 0em; }
nav a { color: var(--grey); }
nav a:hover { color: white; }
nav a.active { color: white; }

button {
    background-color: transparent;
    color: white;
    padding: .5em .6em;
    border-style: solid;
    border-radius: .2em;
    border-width: .1em;
    border-color: var(--blue);
    letter-spacing: .05em;
}
button:hover { border-color:  white; cursor: pointer; }

/*****************************************************************************/
/*                                  sections                                 */
/*****************************************************************************/
section { min-height: 100vh; }
.primary {
    background-color: var(--darkest);
}
.secondary {
    background-color: var(--dark);
    box-shadow: inset 0em 0em 2.5em black;
}

/* Countdown section *********************************************************/
#countdown > .container > div { height: 30vh; }
#countdown > .container > div:nth-child(1) { min-height: 6em; }
#countdown > .container > div:nth-child(2) { min-height: 7.8em; }

.main-logo {
    width: 20vw; height: 15.6vw;
    min-width: 6.4em; min-height: 5em;
    max-width: 12.8em; max-height: 10em;
}
.time-label {
    width: 100%;
    color: white;
    padding-top: 1vh;
}
.time-label > span {
    display: inline-block;
    color: white;
    width: 25%;
}

/* Details section  **********************************************************/

#details {
    background-image: url("../resources/images/gridBig.png");
    background-repeat: repeat;
    background-size: cover;
}

#details > .container > div:nth-child(1) { height: 30vh; min-height: 16em; }
#details > .container > div:nth-child(2) { height: 40vh; min-height: 40em; }


/* FAQs section **************************************************************/;
#faqs {

}

/* Mentor section ************************************************************/
/* Sponsor section ***********************************************************/
/* Contact section ***********************************************************/







.make-together > div :nth-child(1) { text-align: right; }
.make-together > div :nth-child(2) { text-align: center; }
.make-together > div :nth-child(3) { text-align: left; }
