#contact {
    background-image: url('../resources/images/gridBig.png');
    background-repeat: repeat;
    background-size: 100% auto;

    @extend .parallax;

    .row  {
	height: 35em;
    }
}

#contact > div {
    min-height: 35em;
}
