
#details {
    background-image: url('../resources/images/gridBig.png');
    background-repeat: repeat;
    background-size: 100% auto;

    min-height: 55em;

    .container > div:nth-child(1) {
	height: 30vh;
	min-height: 16em;
    }

    .container > div:nth-child(2) {
	height: 40vh;
	min-height: 40em;
    }
}
