@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body { /* replace with your selector */
    font-family: 'Access Regular', 'PT Mono', monospace;
    font-weight: normal;
    font-style: normal;
    padding-top: 76px;
    text-align: center;
}
