.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.special-sizing {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.default-title-margin {
    @include media-breakpoint-only(xs) { margin: .6em auto; }
    @include media-breakpoint-only(sm) { margin: .8em auto; }
    @include media-breakpoint-only(md) { margin: 1.0em auto; }
    @include media-breakpoint-only(lg) { margin: 1.0em auto; }
    @include media-breakpoint-only(xl) { margin: 1.0em auto; }
}

.default-title-font-size {
   @include media-breakpoint-only(xs) { font-size: 1.5em; }
   @include media-breakpoint-only(sm) { font-size: 2.0em; }
   @include media-breakpoint-only(md) { font-size: 2.5em; }
   @include media-breakpoint-only(lg) { font-size: 3.5em; }
   @include media-breakpoint-only(xl) { font-size: 3.5em; }
}


.default-title {
    @extend .col-12;
    @extend .default-title-margin;
    @extend .default-title-font-size;
}
