nav {
    background-color: $dark2;
    a { color: $light2; }
    a:hover { color: $light1; }
    a.active { color: $light1; }
    box-shadow: $shadow;

    .navbar-toggler {
	border-style: none !important;
    }
}
