#sponsors {

    .special-sizing {
	max-width: 1140px;
    }

    padding-bottom: 3em;
    .main-contain  {
	height: 100vh
    }
    .sponsor-box {
	margin: 1em;
	height: 20vw;
	min-height: 12em;

	img {
	    width: 100%;
	}

    }
    .main-content {
	padding-bottom: 10vh;
    }
}
