#sponsors {

    .row-full {
	@extend .row;
	margin: 0em; // why do I have to do this???
    }


    @extend .primary;
    @extend .special-sizing;
    @extend .container-fluid;
    @extend .row-full;
    text-align: center;


    padding-top: 6em;
    padding-bottom: 2em;

    .title {
	@extend .col-12;

	@include media-breakpoint-only(xs) {
	    font-size: 2em;
	    padding-bottom: 1.0em;
	}
	@include media-breakpoint-only(sm) {
	    font-size: 2.5em;
	    padding-bottom: 1.2em;
	}
	@include media-breakpoint-only(md) {
	    font-size: 3em;
	    padding-bottom: 1.5em;
	}
	@include media-breakpoint-only(lg) {
	    font-size: 4em;
	    padding-bottom: 3.0em;
	}
	@include media-breakpoint-only(xl) {
	    font-size: 4em;
	    padding-bottom: 3.0em;
	}
    }


    img, object {
	width: 100%;
    }

    .sb-super {
	@extend .col-12;
	@extend .row-full;
	@extend .align-items-center;
	.tagline {
	    @extend .col-12;
	    @extend .col-md-4;

	    @include media-breakpoint-only(xs) { font-size: .8em; }
	    @include media-breakpoint-only(sm) { font-size: .9em; }
	    @include media-breakpoint-only(md) { font-size: 1.2em; }
	    @include media-breakpoint-only(lg) { font-size: 2.5em; }
	    @include media-breakpoint-only(xl) { font-size: 2.5em; }

	}
	.sb {
	    @extend .col-12;
	    @extend .col-md-8;

	    @include media-breakpoint-only(xs) { margin-top: 2em; }
	    @include media-breakpoint-only(sm) { margin-top: 2em; }
	    @include media-breakpoint-only(md) { margin-top: 0em; }
	    @include media-breakpoint-only(lg) { margin-top: 0em; }
	    @include media-breakpoint-only(xl) { margin-top: 0em; }

	}
    }


    .sb-list {
	@extend .col-12;
	@extend .row-full;
	@extend .align-items-center;

    }
    .sb-list > div {
	@extend .col-md-4;
	@extend .col-6;

	@include media-breakpoint-only(xs) { padding: 1em; }
	@include media-breakpoint-only(sm) { padding: 1.5em; }
	@include media-breakpoint-only(md) { padding: 2em; }
	@include media-breakpoint-only(lg) { padding: 2em; }
	@include media-breakpoint-only(xl) { padding: 2em; }
    }

    button {
	@include media-breakpoint-only(xs) {
	    margin-top: 1.0em;
	    margin-bottom: 1.0em;
	}
	@include media-breakpoint-only(sm) {
	    margin-top: 1.2em;
	    margin-bottom: 1.2em;
	}
	@include media-breakpoint-only(md) {
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	}
	@include media-breakpoint-only(lg) {
	    margin-top: 3.0em;
	    margin-bottom: 3.0em;
	}
	@include media-breakpoint-only(xl) {
	    margin-top: 3.0em;
	    margin-bottom: 3.0em;
	}
    }
}
