#sponsors {
    color: black;
    background-color: $light1;
    padding-bottom: 3em;
    .main-contain  {
	height: 100vh
    }
    .sponsor-box {
	margin: 1em;
	img {
	    width: 100%;
	}

    }
    .main-content {
	padding-top: 10vh;
	padding-bottom: 10vh;

    }
}
