#sponsors {
    .title {
	margin: calc(.3em + 1vw) 0em;
    }
    padding-top: 4em;
    padding-bottom: 3em;
    .main-contain  {
	height: 100vh
    }
    .sb {
	margin: 1em;
	height: 20vw;
	min-height: 12em;

	img {
	    width: 100%;
	}

    }
    .sb-container {
	padding-bottom: 2em;
    }
    .main-content {
	padding-bottom: 10vh;
    }

    @media all and (max-width: 1000px) {
	.sb-container {
	    padding-bottom: 0em;
	}
    }
}
