body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
}

#passcode-input {
    font-family: monospace;
    text-align: center;
    padding: 10%;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input {
    height: 20%;
}
  
h1 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 10px;
}

#gamepad {
    position: absolute;
    padding: 0;
    margin: 0;
    transform: rotate(45deg);
    box-shadow: 0 0 7px grey;
    overflow: hidden;
}

.quadrant {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

#u {
    background-color: #4285F4;
}

#r {
    background-color: #ea4335;
}

#d {
    background-color: #34A853;
}

#l {
    background-color: #FBBC05;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: rgba(0,0,0,0.4) transparent transparent transparent;
}

.quadrant:active .arrow {
    border-color: rgba(255,255,255,0.8) transparent transparent transparent;
}

#ra {
    transform: rotate(90deg);
}

#da {
    transform: rotate(180deg);
}

#la {
    transform: rotate(-90deg);
}  