/* === VT323 - regular */
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Vt323-Regular.eot");
	src: local("VT323 Regular"),
		local("VT323-Regular"),
		url("./font/Vt323-Regular.eot") format("embedded-opentype"),
		url("./font/Vt323-Regular.woff2") format("woff2"),
		url("./font/Vt323-Regular.woff") format("woff"),
		url("./font/Vt323-Regular.ttf") format("truetype"),
		url("./font/Vt323-Regular.svg") format("svg");
}
