/*
* @Author: Charlie Gallentine, Ayush Petigara
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-09-20 08:58:11
*/

/* MOBILE SITE */
:root {
	--logo-purple: #721ED6;
	--logo-red: #E80000;
	--logo-blue: #0016FF;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: black;
	font-size: 24px;
	margin: 13px 0;
}

p span {
	display:block;
	border-bottom:3px solid black;
	width: 100%;
	padding-bottom: 4px;
}

img {
	width: 100%;
}

.pre-reg {
	margin: 1em auto 1em 1.2em;
}

.underline-red {
	text-decoration: var(--logo-red) underline;
}

.underline-purple {
	text-decoration: var(--logo-purple) underline;
}

.underline-blue {
	text-decoration: var(--logo-blue) underline;
}

.link-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.logo {
	width: 100%;
}

.subcontent {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	text-align: center;
}

.des {
	text-align: left;
	margin-left: 6%;
	/* margin-left: 25%; */
}

.mcs {
	margin-top: 15px ;
}


#home {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width:90%;
}

#team-working {
	color: var(--logo-purple);
	padding-bottom: 10px;
}


/* Screens 720px and up */
@media screen and (min-width: 500px) {
	.pre-reg:hover > span {
		border-bottom:3px solid #AAA;
		transition: border-bottom .25s ease;
	}

	.link-container {
		/* flex-direction: row; */
		justify-content: space-around;
		text-align:left;
		margin: 0 auto;
		width: 67%;

	}

	.logo {
		width: 75%;
	}

	.mcs{
		margin-top: 25px;
	}

	.des {
		text-align: left;
		margin-left: 17%
	}

	.pre-reg {
		margin: 1em auto 1em 0;
	}

	.pre-reg:hover > a {
		color: #AAA;
		transition: color .2s ease;
	}

	#home {
		flex-direction: column;
		height: 90vh;
		margin: 0 auto;
		width: 85%;
	}

	#team-working {
		margin-top: 25px;
	}
}

/* Screens 720px and up */
@media screen and (min-width: 840px) {
	img {
		margin-left: -6.25%;
		width: 100%;
	}

	.link-container {
		justify-content: space-between;
		margin: 28px 0 10px 0;
		width: 100%;
	}

	.logo {
		width: 100%;
	}

	.main-container {
		text-align: left;
		width: 50%;
	}

	.secondary-container {
		text-align: left;
		margin: 0 0 0 39px;
		width: 39%;
	}

	.subcontent {
		align-items: center;
		flex-direction: row;
		margin-top: 10vh;
	}

	.des {
		text-align: left;
		margin-left: 0;
	}

	.pre-reg {
		margin: 1em auto 1em 0;
	}

	#home {
		flex-direction: column;
		height: 100vh;
		margin: 0 auto;
		width: 75%;
		}

	#team-working {
		margin-top: 0;
	}
}
