body {
<<<<<<< HEAD
  font-family: PT Mono;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

button:hover {
  background-color: #000;
  color: white;
}

footer {
  font-size: 14px;
}

h1 {
  border-bottom: 4px solid black;
  font-size: 44px;
  margin-bottom: 0px;
}

h6 {
  margin-top: 0;
}

h6, li {
  font-size: 12px;
}

img {
  display: inline-block;
  margin-top: 30px;
  width: 231px;
}

li {
  padding-top: 10px;
}

ul {
  list-style: none;
}

.countdown {
  display: inline-flex;
}

.fa {
  font-size: 42px;
  margin: 10px;
}

.fa:hover {
  filter: invert(50%);
}

.interested {
  border: 1px solid black;
  border-radius: 0px;
  font-family: 'PT Mono', 'monospace';
  font-size: 14px;
  height: 37px;
  margin: 30px 0;
  width: 200px;
}

.logo {
  display: block;
}

.social_media {
  padding-bottom: 15px;
}

.time {
  padding: 0 10px;
  text-align: center;
}
=======
	align-items: center;
	font-family: 'PT Mono', 'monospace';
	margin: 0;
	padding: 0;
	text-align: center;
}
>>>>>>> refs/remotes/origin/master
